@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(235, 18%, 26%);
  font-family: "Roboto", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 100%;
  display: flex;
  gap: 5rem;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  border-radius: 2.2rem;
}

.newsletter {
  padding: 6rem 0 6rem 4rem;
}

.newsletter-mobile {
  display: none;
}

.mobile-img {
  width: 100%;
}

.newsletter-heading {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: hsl(234, 29%, 20%);
}

.newsletter-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: hsl(234, 29%, 20%);
  line-height: 1.7;
  margin-bottom: 2rem;
}

.newsletter-updates {
  margin-bottom: 2.5rem;
}

.newsletter-updates li {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.icon {
  width: 1.6rem;
}

.updates-text {
  font-size: 1.15rem;
  font-weight: 400;
  color: hsl(234, 29%, 20%);
}

.form {
  display: flex;
  flex-direction: column;
}

.address {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.error-message {
  font-size: 1.1rem;
  font-weight: 700;
  color: hsl(4, 100%, 67%);
}

.name-email {
  font-size: 1.1rem;
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.email-form {
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  color: hsl(231, 7%, 60%);
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 0.5rem;
  margin-bottom: 2.58rem;
  cursor: pointer;
}

.email-form:hover {
  border: 1px solid hsl(235, 18%, 26%);
  color: hsl(235, 18%, 26%);
}

.btn {
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.5rem 1.5rem;
  border-radius: 0.8rem;
  width: 100%;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to right, hsl(327, 96%, 50%), hsl(4, 100%, 67%));
}

.newsletter-image {
  margin: 1.5rem 1.5rem 1.5rem 0;
}

.news-img {
  width: 300px;
}

.container2 {
  max-width: 30rem;
  background-color: hsl(0, 0%, 100%);
  padding: 3rem;
  border-radius: 2.2rem;
}

.success-container {
  display: none;
}

.success-img {
  width: 3.6rem;
  margin-bottom: 2rem;
}

.success-heading {
  font-size: 3.2rem;
  line-height: 1;
  color: hsl(234, 29%, 20%);
  margin-bottom: 2rem;
}

.success-text {
  font-size: 1.2rem;
  color: hsl(235, 18%, 26%);
  margin-bottom: 2rem;
  line-height: 1.4;
}

.email-enter {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
}

@media (max-width: 47.5em) {
  html {
    font-size: 60%;
  }
  .container {
    max-width: 60rem;
    gap: 4rem;
  }
  .newsletter-image {
    margin: 1.5rem 1.5rem 1.5rem 0;
  }
  .news-img {
    margin-top: 2rem;
    width: 100%;
  }
  .newsletter-heading {
    font-size: 3.5rem;
  }
  .newsletter {
    padding: 5rem 0 5rem 3rem;
  }
  .btn {
    font-size: 1.4rem;
  }
  .updates-text {
    font-size: 1.2rem;
  }
  .name-email {
    margin-bottom: 0;
  }
  .email-form {
    margin-bottom: 2rem;
  }
}
@media (max-width: 36.25em) {
  .container {
    border-radius: 0;
    max-width: 40rem;
    flex-direction: column;
    gap: 3rem;
    height: 100vh;
  }
  .newsletter-image {
    display: none;
  }
  .newsletter {
    padding: 0 3rem 5rem 3rem;
  }
  .newsletter-mobile {
    display: block;
  }
  .icon {
    width: 1.8rem;
  }
  .updates-text {
    font-size: 1.4rem;
  }
  .container2 {
    max-width: 40rem;
    border-radius: 0;
  }
  .success-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  .success-img {
    width: 4.8rem;
  }
  .success-heading {
    font-size: 3.6rem;
    line-height: 1;
  }
  .success-text {
    font-size: 1.7rem;
    line-height: 1.4;
  }
  .btn-dismiss {
    margin-top: 13rem;
  }
}
